form > div, fieldset, fieldset > div{
    margin-bottom: 10px;
    padding: 5px 0;
    
}

legend{
    color: rgb(36, 36, 196);
    font-weight: bold;
    font-variant: small-caps;
}

fieldset{
    padding-left: 0;
    background-color: rgb(211, 217, 217);
    border: 1px;
}
form{
    width: 750px;
}

textarea{
    vertical-align: text-top;
    width: 500px;
    height: 150px;
}

input[type=text], input[type=email], select{
width: 500px;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: bold;
}

label.obrigatorio{
color: darkred;
}

div.cadastro {
    margin-left: 150px;
}

.cadastro label{
  width: 300px;
  text-align: left;
}

h1{
    text-shadow: 0px 0px 5px cyan;
}



